.signup-container {
  background-color: #f8f9fa; 
  min-height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}


.signup-form {
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 400px;
}

.signup-form h2 {
  color: #004d40;
  margin-bottom: 25px;
  text-align: center;
  font-weight: bold;
}

.signup-form input {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.signup-form input:focus {
  border-color: #004d40;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 77, 64, 0.3);
}

.signup-form button {
  background-color: #004d40;
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-form button:hover {
  background-color: #00695c;
}

.signup-link {
  text-align: center;
  margin-top: 20px;
}

.signup-link a {
  color: #004d40;
  font-weight: bold;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}
